<p-breadcrumb [model]="items"></p-breadcrumb>
<p-growl [value]="msgs"></p-growl>

<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
  <input #gb type="text" pInputText size="50" placeholder="Global Filter">
  <button pButton type="button" [routerLink]="['/new-reservation']" style="float:right;" icon="fa-plus-circle" class="ui-button-danger" label="New"></button>
</div>
<p-dataTable [value]="reservations" [rows]="6" [paginator]="true" [globalFilter]="gb" selectionMode="single" [(selection)]="selectedReservations" [contextMenu]="cm" #dt>
  <p-column field="bookingid" header="Booking ID" [filter]="true" filterPlaceholder="Search"></p-column>
  <p-column field="bookingdate" header="Booking Date" [filter]="true" filterPlaceholder="Search"></p-column>
  <p-column field="guestname" header="Guest Name" [filter]="true" filterPlaceholder="Search"></p-column>
  <p-column field="checkindate" header="Checkin Date" [filter]="true" filterPlaceholder="Search"></p-column>
  <p-column field="status" header="Status" [filter]="true" filterPlaceholder="Search"></p-column>
  <p-column field="canceledid" header="Canceled ID" [filter]="true" filterPlaceholder="Search"></p-column>
  <p-column field="canceledreason" header="Canceled Reason" [filter]="true" filterPlaceholder="Search"></p-column>
  <p-column field="attendedby" header="Attended By" [filter]="true" filterPlaceholder="Search"></p-column>
  <p-column field="allocation" header="Allocation" [filter]="true" filterPlaceholder="Search"></p-column>
</p-dataTable>
<p-contextMenu #cm [model]="reserveItems"></p-contextMenu>
<br>
<p-selectButton [options]="filter" [(ngModel)]="selectedFilter"></p-selectButton>
