<p-breadcrumb [model]="items"></p-breadcrumb>
<p-growl [(value)]="daysMsg"></p-growl>
<p-panel header="Rooms Inventory" [toggleable]="true">
  <div class="ui-g" >
      <div class="ui-g-4">
          <p-dataTable [value]="totalRoomCount">
            <p-column field="total" header="Total Booked"></p-column>
            <p-column field="confirmed" header="Confirmed"></p-column>
            <p-column field="waiting" header="Waiting"></p-column>
            <p-column field="provisional" header="Provisional"></p-column>
         </p-dataTable>
      </div>
  
    <div class="ui-g-2">
      <b>Checkin Date</b> &nbsp; <p-calendar [showIcon]="true" [(ngModel)]="checkinValue" icon=" fa-calendar" showTime="true" hourFormat="12" (onSelect)="dateSelect()"></p-calendar>
    </div>  
    <div class="ui-g-2">
        <b>Checkout Date</b> &nbsp; <p-calendar [showIcon]="true" [(ngModel)]="checkoutValue" icon=" fa-calendar" showTime="true" hourFormat="12" (onSelect)="dateSelect()"></p-calendar>
    </div>
    <div class="ui-g-2"></div>  
    
    <div class="ui-g-2">
        <button pButton type="button" icon="fa-bed" iconPos="left"> </button> <b>{{days}} Day(s)</b>
    </div>
  </div>
  <p-dataTable [value]="availableRooms" scrollable="true" scrollHeight="100px">
    <p-header>Available Rooms</p-header>
    <p-column field="date" header="Date"></p-column>
    <p-column field="day" header="Day"></p-column>
    <p-column field="dlx" header="DLX"></p-column>
    <p-column field="sdx" header="SDX"></p-column>
    <p-column field="cot" header="COT"></p-column>
    <p-column field="std" header="STD"></p-column>
    <p-column field="ffb" header="FFB"></p-column>
    <p-column field="sui" header="SUI"></p-column>
    <p-column field="total" header="Total"></p-column>
  </p-dataTable>
  
</p-panel>

<p-tabView orientation="left"> 
  <p-tabPanel header="Booking References">
      <div class="ui-g" >
          <div class="ui-g-4">
              <b>Booking Status</b> <p-dropdown [options]="status" [(ngModel)]="selectedStatus" placeholder="Select a status"></p-dropdown>  
          </div>
          <div class="ui-g-4">
             <b>Hold Date</b> <p-calendar [showIcon]="true" [(ngModel)]="holdValue" icon=" fa-calendar" showTime="true" hourFormat="12" (onSelect)="dateSelect()"></p-calendar>
          </div>
          <div class="ui-g-2">
              <b>Group Booking</b>&nbsp; <p-checkbox [(ngModel)]="groupBooking" binary="true"></p-checkbox>
          </div>
      </div>
  </p-tabPanel>
  <p-tabPanel header="Agent and Company">
    <div class="ui-g" >
        <div class="ui-g-6">
            <b>Agent</b><p-dropdown [options]="agents" [(ngModel)]="selectedAgent" placeholder="Select a Agent"></p-dropdown> 
         </div>
         <div class="ui-g-6">
            <b>Company</b><p-dropdown [options]="company" [(ngModel)]="selectedCompany" placeholder="Select a Company"></p-dropdown> 
         </div>
    </div>
    <div class="ui-g" >
         <div class="ui-g-6">
            <b>Bill To</b><p-dropdown icon="fa-angle-double-right" [options]="billTo" [(ngModel)]="selectedBillTo" placeholder="Select a Company"></p-dropdown> 
         </div>
         <div class="ui-g-6">
            <button pButton type="button" icon="fa-money" iconPos="left"> </button> <b> TAC {{tac}} %</b>
         </div>
    </div>
</p-tabPanel>

</p-tabView>

